html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    
}

body {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    padding-top: 0;
}

p {
    text-align: center;
    text-shadow: 1.5px 1.5px 8px #231f20;
    font-size: 32px;
    font-weight: 600;
    padding: 8px 0px 8px 0px;
}

@media screen and (max-width: 768px) {
    p {
        text-align: center;
        text-shadow: 1.5px 1.5px 8px #231f20;
        font-size: 25px;
        font-weight: 600;
        padding: 8px 0px 8px 0px;
    } 
}
@media screen and (max-width: 413px) {
    p {
        text-align: center;
        text-shadow: 1.3px 1.3px 7px #231f20;
        font-size: 14px;
        font-weight: 600;
        padding: 1px 0px 1px 0px;
    } 
}

/*.header__menu {
  display: none;
}
*/
.aside {
    color: #fff;
}

.infowindow {
    text-align: center;
}

.container {
    height: 100%;
    position: absolute;
    padding-right: 5px;
    padding-left: 5px;
}

@media screen and (max-width: 413px) {
    .container {
        padding-right: 0px;
        padding-left: 0px;
    } 
}
.yelp {
    text-align: center;
}

.aside {
      background: #fff;
      border: 1px solid #999;
      border-radius: 5px;
      height: 100%;
      line-height: 35px;
      padding: 10px 10px 30px 10px;
      text-align: left;
      width: 340px;
     }

@media screen and (max-width: 768px) {
    .aside {
        width: 260px;
    } 
}

@media screen and (max-width: 413px) {
    .aside {
        width: 140px;
    } 
}
/*@media screen and (max-width: 350px) {
    .option-box {
        z-index: 10;
        background-color: #fff;
        width: 300px;
        position: absolute;
        -webkit-transform: translate(-350px, 0);
        transform: translate(-350px, 0);
        transition: transform 0.3s ease;
    } 
    .option-box .open {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    .header__menu {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 1em;
    }
    .header__menu svg {
    width: 32px;
    fill: #E0E0E0;
    }
    #map {
       height: 100%;
        bottom: 0px;
        left: 0px;
        position: absolute;
        right: 0px;
        opacity: 0.85; 
    } 
}
*/

#search-div {
    background-color: #777;
    padding-right: 2%;
    padding-left: 2%; 
}

#search-div .glyphicon-search {
    background-color: #f1860a;
    border-bottom: 0.5px solid #f1860a;
    color: white;
    font-size: 14px;
    padding: 20px;
    position: absolute;
    text-shadow: 0.5px 0.5px 2px gray;
    top: 82px;
    z-index: 2; 
}

@media screen and (max-width: 768px) {
    #search-div .glyphicon-search {
        border-bottom: none;
        font-size: 10.5px;
        padding: 12.5px; 
    } 
}
@media screen and (max-width: 413px) {
    #search-div .glyphicon-search {
        border-bottom: none;
        font-size: 12px;
        padding: 11.5px; 
        top: 68px;
    } 
}

#search-div .search-field {
    background-color: white;
    border: none;
    border-radius: 0;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    opacity: 0.85;
    padding: 10px 10px 10px 80px;
    position: relative;
    width: 100%;
    z-index: 1; 
}

#search-div .search-field:hover, #search-div .search-field:focus {
    opacity: 1; 
}

@media screen and (max-width: 768px) {
    #search-div .search-field {
        font-size: 12px;
        padding: 0px 7.5px 0px 42px; 
        width : 100%;
    } 
}

@media screen and (max-width: 413px) {
    #search-div .search-field {
        font-size: 10px;
        padding: 0px 7px 0px 34px; 
        width : 100%;
    } 
}

@media screen and (max-width: 413px) {
    .list_container {
        font-size: 10px;
        padding: 0px 0px 0px 0px; 
        width : 100%;
    } 
    ul {
        padding-left: 15px;
    }
}

#map {
    height: 100%;
    bottom: 0px;
    left: 350px;
    position: absolute;
    right: 0px;
    opacity: 0.85; 
}

@media screen and (max-width: 768px) {
    #map {
       height: 100%;
        bottom: 0px;
        left: 270px;
        position: absolute;
        right: 0px;
        opacity: 0.85; 
    } 
}

@media screen and (max-width: 413px) {
    #map {
       height: 100%;
        bottom: 0px;
        left: 141px;
        position: absolute;
        right: 0px;
        opacity: 0.85; 
    } 
}

/* Pop up content*/

#modal {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    height: 100%;
    width: 100%;
}

.modalconent {
    position: absolute;
    font-family: "Roboto", sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: #fff;
    width: 50%;
    height: 50%;
    padding: 20px;
    overflow: scroll;
    text-align: left;
}

.modalconent h2 {
    color: #000;
    padding: 10px 0px 10px 0px;
    display: inline-block;
    margin: 10px 0px 10px 0px;
}
.modalconent p {
    font-weight: 100;
    text-align: left;
    text-shadow: 0px 0px 0px #231f20;
    font-size: 14px;
    padding: 0px 0px 0px 0px;
}

.modalconent button {
    float:center;
    background-color: #f68323;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 0 auto;
}

.modalconent button:hover {
    background-color: white; 
    color: black; 
    border: 2px solid #f68323;
}

.modalconent p {
    word-wrap: break-word;
    margin-top: 10px;
}
